{#
/**
 * @file gel_classes.html.twig
 * Default theme implementation to present Gel classes data.
 *
 * This template is used when viewing Gel classes pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gel_classes()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gel_classes') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
