{#
/**
 * @file gelstudenthighschool.html.twig
 * Default theme implementation to present Gelstudenthighschool data.
 *
 * This template is used when viewing Gelstudenthighschool pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gelstudenthighschool()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gelstudenthighschool') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
