<div class="nav-wrapper">
    <div class="content">
        <div class="container">
            <nav class="navbar navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
                <img src="../theme/assets/images/epalschool_logo.png" />
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
                    <div *ngIf="(loginInfo$ | async).size > 0 " >
                        <ul class="navbar-nav">
                            <div class="row">
                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item" [ngClass]="{active: path=='submited-preview'}">
                                    <li *ngIf="authRole=='student'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/submited-preview']" [routerLinkActive]="['active']"><b>Υποβληθείσες δηλώσεις</b></a>
                                    </li>
                                </div>
                                <!--&& !(lockStudentsEpal | async)-->
                                <div *ngIf="(loginInfo$ | async).size > 0 " class="nav-item" [ngClass]="{active: path=='submited-preview'}">
                                    <li *ngIf="authRole=='director'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/director-view']" [routerLinkActive]="['active']"><b>Δηλώσεις Μαθητών</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 && !(lockCapacity | async)" class="nav-item" [ngClass]="{active: path=='submited-preview'}">
                                    <li *ngIf="authRole=='director'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/director-classcapacity']" [routerLinkActive]="['active']"><b>Δυναμική Τμημάτων</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 " class="nav-item" [ngClass]="{active: path=='submited-preview'}">
                                    <li *ngIf="authRole=='director'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/director-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>

                                <div *ngIf="(loginInfo$ | async).size > 0 " class="nav-item" >
                                    <li *ngIf="authRole=='director_gym'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/directorgym-view']" [routerLinkActive]="['active']"><b>Λίστα Μαθητών</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 " class="nav-item" >
                                    <li *ngIf="authRole=='director_gel'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/directorgel-view']" [routerLinkActive]="['active']"><b>Δηλώσεις Μαθητών</b></a>
                                    </li>
                                </div>

                                <div *ngIf="(loginInfo$ | async).size > 0 " class="nav-item" >
                                    <li *ngIf="authRole=='director_gel'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/directorgel-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>

                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'epal'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-settings']" [routerLinkActive]="['active']"><b>Ρυθμίσεις</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'epal'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-view']" [routerLinkActive]="['active']"><b>Κατανομή</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'epal'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>
                                <!--
                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'epal'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-informstudents']" [routerLinkActive]="['active']"><b>Αποστολή Ειδοποιήσεων</b></a>
                                    </li>
                                </div>
                                -->
                                <div *ngIf="(loginInfo$ | async).size > 0 &&  (userType | async) === 'epal' " class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-updatepromotion']" [routerLinkActive]="['active']"><b>Ενημέρωση Προαγωγής</b></a>
                                    </li>
                                </div>

                                <div *ngIf="(loginInfo$ | async).size > 0 && ((schtype == 2) || (schtype == 1)) " class="nav-item">
                                    <li *ngIf=" authRole=='dide'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['school/school-type-selection']" [routerLinkActive]="['active']"><b>Αρχική </b></a>
                                    </li>
                                </div>

                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'epal'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link"><b>ΔΙΑΧΕΙΡΙΣΗ ΕΠΑΛ</b></a>
                                    </li>
                                </div>


                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'gel'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/gel-minister-settings']" [routerLinkActive]="['active']"><b>Ρυθμίσεις</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 &&  (userType | async) === 'gel' " class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-updatepromotion']" [routerLinkActive]="['active']"><b>Ενημέρωση Προαγωγής</b></a>
                                    </li>
                                </div>
                                <!--
                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>
                                -->
                                <div *ngIf="(loginInfo$ | async).size > 0 && (userType | async) === 'gel'" class="nav-item">
                                    <li *ngIf="authRole=='supervisor'" class="nav-item">
                                        <a class="nav-link"><b>ΔΙΑΧΕΙΡΙΣΗ ΓΕΛ</b></a>
                                    </li>
                                </div>


                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf="authRole=='pde'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/perfecture-view']" [routerLinkActive]="['active']"><b>Πληρότητα Σχολείων</b></a>
                                    </li>
                                </div>
                                 <div *ngIf="(loginInfo$ | async).size > 0 && (schtype == 2)" class="nav-item">
                                    <li *ngIf="authRole=='dide'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/eduadmin-view']" [routerLinkActive]="['active']"><b>Πληρότητα Σχολείων</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf=" authRole=='dide' && (schtype == 2)" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/mergeschools']" [routerLinkActive]="['active']"><b>Συνενώσεις Τμημάτων</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf=" authRole =='dide' && (schtype == 2) " class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/undomerge']" [routerLinkActive]="['active']"><b>Αναιρέσεις συνενώσεων</b></a>
                                    </li>
                                </div>


                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf=" authRole=='pde' "
                                     class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/mergeschools']" [routerLinkActive]="['active']"><b>Συνενώσεις Τμημάτων</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf=" authRole =='pde'  "
                                    class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/undomerge']" [routerLinkActive]="['active']"><b>Αναιρέσεις συνενώσεων</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf=" authRole=='pde'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/smallclassapprovement']" [routerLinkActive]="['active']"><b>Εγκρίσεις Ολιγομελών </b></a>
                                    </li>
                                </div>



                                <div *ngIf="(loginInfo$ | async).size > 0" class="nav-item">
                                    <li *ngIf="authRole=='pde'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>

                                <div *ngIf="(loginInfo$ | async).size > 0 && (schtype == 2)" class="nav-item">
                                    <li *ngIf="authRole=='dide'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/ministry/minister-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 && (schtype == 1)" class="nav-item">
                                    <li *ngIf="authRole=='dide'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['school/gel-distribution']" [routerLinkActive]="['active']"><b>Τοποθετήσεις Μαθητών</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 && (schtype == 1)" class="nav-item">
                                    <li *ngIf="authRole=='dide'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['/school/eduadmingel-view']" [routerLinkActive]="['active']"><b>Πληρότητα Σχολείων</b></a>
                                    </li>
                                </div>
                                <div *ngIf="(loginInfo$ | async).size > 0 && (schtype == 1)" class="nav-item">
                                    <li *ngIf="authRole=='dide'" class="nav-item">
                                        <a class="nav-link" [routerLink]="['dide/didegel-reports']" [routerLinkActive]="['active']"><b>Αναφορές</b></a>
                                    </li>
                                </div>


                            </div>
                        </ul>

                    </div>
                </div>

            </nav>
        </div>
    </div>
</div>
